* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  
  list-style: none;
  font-family: Arial, sans-serif;
}
li {
  margin: 3%;
}

.snowflake {
  color: #fff;
  font-size: 1em;
  
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@-webkit-keyframes snowflakes-shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
}
@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes snowflakes-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80px);
  }
}
.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}
.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s;
}
.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, 0.5s;
  animation-delay: 6s, 0.5s;
}
.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s;
}
.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s;
}
.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s;
}
.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s;
}
.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s;
}
.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s;
}
.snowflake:nth-of-type(10) {
  left: 25%;
  -webkit-animation-delay: 2s, 0s;
  animation-delay: 2s, 0s;
}
.snowflake:nth-of-type(11) {
  left: 65%;
  -webkit-animation-delay: 4s, 2.5s;
  animation-delay: 4s, 2.5s;
}

.snowmanbox {
  padding: 50px;
  position: relative;
  height: 400px;
  background-color: thistle;
}

.Hat_Top {
  background-color: rgb(0, 0, 0);
  position: absolute;
  left: 92px;
  top: 17px;
  width: 60px;
  height: 46px;
  z-index: 19;
}

.Hat_Middle {
  background-color: rgb(255, 0, 0);
  position: absolute;
  left: 92px;
  top: 60px;
  width: 62px;
  height: 14px;
  z-index: 18;
}

.Hat_Bottom {
  background-color: rgb(0, 0, 0);
  position: absolute;
  left: 75px;
  top: 68px;
  width: 88px;
  height: 13px;
  z-index: 17;
}

.Scarf_Right {
  background-color: rgb(0, 191, 243);
  position: absolute;
  left: 124px;
  top: 137px;
  width: 24px;
  height: 59px;
  z-index: 16;
}

.Scarf_Center {
  background-color: rgb(0, 191, 243);
  position: absolute;
  left: 90px;
  top: 137px;
  width: 65px;
  height: 18px;
  z-index: 15;
}

.Scarf_Left {
  background-color: rgb(0, 191, 243);
  position: absolute;
  left: 101px;
  top: 152px;
  width: 18px;
  height: 29px;
  z-index: 14;
}

.Nose {
  background-color: rgb(242, 101, 34);
  position: absolute;
  left: 117px;
  top: 109px;
  width: 10px;
  height: 20px;
  z-index: 13;
}

.Eye_Right {
  background-color: rgb(0, 0, 0);
  position: absolute;
  left: 127px;
  top: 95px;
  width: 9px;
  height: 8px;
  z-index: 5;
}

.Eye_Left {
  background-color: rgb(0, 0, 0);
  position: absolute;
  left: 107px;
  top: 95px;
  width: 9px;
  height: 8px;
  z-index: 4;
}

.Ellipse_Top {
  border-width: 3.571px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 81px;
  top: 67px;
  width: 74.858px;
  height: 76.858px;
  z-index: 3;
}

.Ellipse_Middle {
  border-width: 3.571px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 63px;
  top: 142px;
  width: 113.858px;
  height: 106.858px;
  z-index: 2;
}

.Ellipse_Bottom {
  border-width: 3.571px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 44px;
  top: 223px;
  width: 155.858px;
  height: 140.858px;
  z-index: 1;
}

#header {
  width: 100%;
  height: 60vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px 12px;
  z-index: 30;
}
header ul {
  background-color: #262534;
}
header nav {
  width: 100%;
  height: 20vh;
  background-color: #262534;
  display: grid;
  align-items: center;
  border-bottom: 10px solid #f9690e;
  position: fixed;
  top: 0;
  text-align: center;
  flex-wrap: nowrap;
  z-index: 30;
}

header .nav-item {
  display: inline-flex;
  margin: 1%;
  background-color: #262534;
  flex-wrap: nowrap;
}
.nav-item-Home a{
    background-color: blue;
    color:white;
    text-decoration: none;
    padding:10px;
}

header .nav-item a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  background-color: #262534;
  color: rgb(164, 164, 248);
  z-index: 30;
}

header .nav-item a:hover {
  text-decoration: underline;
  background-color: gray;
}

header #more-drop-down-menu a:last-of-type:hover {
  text-decoration: none;
}

header .nav-item a.active {
  text-decoration: underline;
  color: #f9690e;
}

.page {
  margin-top: 21vh;
  background-color: thistle;
  padding:15px;
}

.holiday {
  margin: 10% 2%;
  background-color: thistle;
}

.nutContainer {
  background: radial-gradient(ellipse at center, #e05565 0%, #9d0e2b 100%);
position: relative;
  height: 500px;
  width: 500px;
  padding:10px;
}

.wrapper {
    background: radial-gradient(ellipse at center, #e05565 0%, #9d0e2b 100%);
  margin:20% 35%;
  position: absolute;
 
}

.helmet {
  background: #000;
  border-bottom: 20px solid #ffd700;
  border-radius: 50px 50px 0 0;
  height: 150px;
}

.diamond {
  background-color: #ffd700;
  height: 50px;
  margin: auto;
  position: relative;
  top: 50px;
  transform: rotate(45deg) skew(20deg, 20deg);
  width: 50px;
}

.face {
  background-color: #e8913a;
  border-radius: 0 0 10px 10px;
  padding: 10px 10px 0;
  position: relative;
  width: 166px;
  z-index:10;
}

.eye {
  background-color: #fff;
  border-radius: 40px;
  border-top: 10px solid #000;
  display: inline-block;
  margin-left: 5px;
  position: relative;
  height: 40px;
  width: 40px;
}

.eye:before,
.eye:after {
  border-radius: 100%;
  content: "";
  display: block;
  left: 25%;
  position: absolute;
  top: 25%;
}

.eye:after {
  background-color: #000;
  height: 20px;
  width: 20px;
}

.left,
.right {
  position: absolute;
}

.right {
  right: 15px;
}

.cheek {
  background-color: #db6868;
  border-radius: 50px;
  height: 40px;
  margin-left: 5px;
  position: absolute;
  width: 40px;
}

.nose {
  background-color: #c9731d;
  border-radius: 0 0 30px 30px;
  height: 80px;
  margin: -30px 60px 0;
  position: relative;
}

.mustache {
  background-color: #000;
  border-radius: 0 0 20px 20px;
  height: 20px;
  position: relative;
  width: 100%;
}

.mouth {
  background-color: #de3737;
  border-radius: 20px 20px 0 0;
  height: 25px;
  margin: 0 30px;
  padding-left: 6px;
}

.mouth span {
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  display: inline-block;
  height: 20px;
  margin: 5px 0;
  width: 15px;
}

#scg-nyc-wrapper {
  color: rgb(45, 46, 28);
  font-size: 30px;
  line-height: normal;
  text-align: center;
  cursor: pointer;
  margin: 5%;
  padding: 10px;
  background: rgba(5, 154, 253, 0.4);
  border-radius: 10%;
}
.scg-nyc-digits-wrapper {
  display: inline-block;
  vertical-align: bottom;
}
.scg-nyc-digits-type {
  font-size: 1.3em;
  background: rgba(5, 154, 253, 0.4);
}
.scg-nyc-digit {
  background: rgba(5, 154, 253, 0.4);
}
.scg-nyc-digit > span {
  background: #fff none repeat scroll 0 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: 1px 1px 1px #d1c1c1;
  display: inline-block;
  padding: 2px 7px;
  margin: 0 1px;
}
#scg-nyc-msg {
  background: rgba(5, 154, 253, 0.8);
  border-radius: 40%;
  padding: 30px;
}
.scg-nyc-sep {
  padding: 5px 0;
  background: rgba(32, 164, 252, 0.3);
  animation: sep-blinks 1s linear infinite;
  -moz-animation: sep-blinks 1s linear infinite;
  -webkit-animation: sep-blinks 1s linear infinite;
}
@keyframes sep-blinks {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes sep-blinks {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes sep-blinks {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
