body {
  background-color: black;
  color: white;
}
.top {
  background-size: 100%;
}
.firstline {
  text-align: center;
  font-size: 470%;
  width: 98%;
  color: white;
  margin: 1% auto;
}

.matrixtube {
  width: 100%;
}
.tubepic {
  width: 99%;
  height: auto;
  min-height: 310px;
  max-height: 430px;
  max-width: 1000px;
  padding: 5px 5%;
  margin: 5% 10%;
}

.intro {
  background-color: rgb(22, 22, 22);
  color: rgb(197, 190, 190);
  padding: 40px 20px 70px 40px;
}

.about,
.intro {
  padding: 40px 5px 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.myface {
  max-width: 400px;
  max-height: auto;
  min-width: 200px;
}
.h2top {
  font-size: 60px;
  color: white;
}
.intro1 {
  font-size: 27px;
}

.h2top,
.intro1 {
  width: 40%;
  margin: 1% 2% 8% 12%;
}

input {
  background-color: rgb(22, 22, 22);
  font-size: 30px;
  color: rgb(175, 143, 143);
  margin: 1% 30%;
  width: 600px;
  border: 3px black solid;
  padding: 2%;
}

.field {
  height: 200px;
}

a,
.btn {
  text-decoration: none;
  background-color: green;
  color: white;
  padding: 15px;
  margin: 5%;
  border: 3px solid green;
  display: inline-block;
}

.btn {
  padding: 5px 25px;
}

.projsss {
  padding: 30px 0;
  max-width: 300px;
  max-height: 200px;
}
.list {
  text-align: justify;
}
.about {
  background-color: rgb(22, 22, 22);
  text-align: center;
}
.original {
  margin: 5%;
  text-align: center;
}

.contact {
  text-align: center;
}

.green,
.green1 {
  color: green;
  font-size: 50px;
  text-align: center;
}
.green1 {
  background-color: rgb(22, 22, 22);
  padding: 20px;
  margin: -20px;
}
.title,
.title1 {
  font-size: 22px;
  color: rgb(214, 213, 210);
}

.projects {
  background-color: rgb(22, 22, 22);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-content: space-between;
  text-align: center;
  margin: 1% 0 8%;
}
.projs {
  text-align: center;
  margin: 2% 4% 5%;
  width: 22%;
}

.black {
  background-color: black;
}
.aside {
  order: -1;
  width: 30%;
  margin: 1% 8% 8% 2%;
  font-size: 130%;
}
.city {
  max-width: 700px;
  width: 90%;
  height: 950px;
}

.eggshell {
  color: rgb(153, 157, 165);
}

.responsive {
  width: 100%;
  height: 100%;
}

footer {
  background-color: rgb(1, 100, 1);
  margin: 15% 0 0;
  padding: 20px;
  text-align: center;
}
.foot {
  margin: 0 auto;
}

.logos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.ft {
  background-color: rgb(1, 100, 1);
  border: 2px solid rgb(1, 100, 1);
}

.h5left {
  text-align: left;
  margin: 8% 2% 1%;
}

.h5right {
  text-align: right;
  margin: -1% 2% 10%;
}

.git {
  text-align: center;
}

@media screen and (max-width: 1231px) {
  .tubepic {
    margin: 0;
  }
}

@media screen and (max-width: 1200px) {
  .city {
    max-width: 1190px;
    width: 94%;
    height: 80%;
    order: -2;
    margin: 3%;
  }
  .aside {
    padding: 30px 3px;
    width: 100%;
    order: 1;
  }
  .list {
    width: 90%;
    margin: 0 10%;
  }
}

@media screen and (max-width: 1100px) {
  .title1 {
    font-size: 17px;
  }
}

@media screen and (max-width: 980px) {
  input {
    width: 80%;
    margin: 2%;
  }

  .firstline {
    font-size: 300%;
  }
  .h2top,
  .intro1 {
    width: 70%;
  }

  .h2top {
    font-size: 40px;
  }
  .intro1 {
    font-size: 20px;
  }
  .projs {
    width: 32%;
  }
}
@media screen and (max-width: 930px) {
  a {
    padding: 2px;
    margin: 2%;
  }
}

@media screen and (max-width: 500px) {
  .firstline {
    font-size: 290%;

    margin: 0% auto;
  }
  .h2top,
  .intro1 {
    width: 90%;
  }
  .h2top {
    font-size: 40px;
  }
  .intro1 {
    font-size: 25px;
  }
  .projs {
    width: 80%;
  }
}
